body {
	vw: 100;
	height: 760px;
	margin: 0 auto;		
}
@font-face {
	font-family: HouschkaPro-Bold;
	src: url(HouschkaPro-Bold.otf);
}
@font-face {
	font-family: HouschkaPro-Light;
	src: url(HouschkaPro-Light.otf);
}
.background {
	background: url(Background.png);
	height: 100%;
	padding-top: 36px;
	text-align: center;
}
.clouds {
	position: relative;
	top: -36px;	
}
.maintext {
	position: relative;
	left: 12px;
	top: -6px;
	font-size: 450%;
	color: white;
	font-weight: bold;
	margin: 5px 0 0 5 px;
	text-shadow: 3px 3px 1px #9ab2c7;
	font-family: HouschkaPro-Bold;
}
.text {	
	position: relative;	
	left: -3px;
	color: #266b97;
	font-size: 93%;
	font-weight: 100;
	font-family: HouschkaPro-Light;
	letter-spacing: -0.4px;
	margin-top: -1px;	
}
.email {
	position: relative;	
	font-size: 85%;
	letter-spacing: -0.3px;
	height: 35px;
	padding-left: 10px;
	border-radius: 4px;
	margin-right: 5px;
	border: none;
	font-family: HouschkaPro-Light;
}
.button {
	position: relative;
	background: #fbc541;
	font-size: 82%;
	height: 37px;
	color: white;
	border-radius: 4px;
	border: none;
	font-family: HouschkaPro-Light;
	letter-spacing: 0.5px;
	padding: 0 10px;
}
.iceberg {	
	position: relative;
	margin-left: -48px;
	z-index: 1;
}
.boat {
	position: relative;
	bottom: 295px;
	left: -9px;
	z-index: 2;
	transition-property: left;
	transition-duration: 5s;
	transition-timing-function: ease-out;
}
.boat:hover {
	left: -500px;
}
